.create-new-category-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Độ mờ */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-new-category-content {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-new-category-content h3 {
    margin-bottom: 10px;
  }
  
  .create-new-category-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .create-new-category-content button {
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-new-category-content button:last-child {
    margin-right: 0;
  }
  