* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* width: 80px; */
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    /* overflow: hidden; */
}

.logo {
    font-size: 2rem;
    margin-right: 0.5rem;
    align-items: center;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    align-items: center;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
}

.sidebar ul li a, .sidebar ul li div {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.sidebar ul li a:hover, .sidebar ul li div:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i, .sidebar ul li div i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.nav-item {
    /* display: none; */
    margin: 5px;
}
